.gallery-page {
	@include standartBlock(75px 0px);
	.gallery__box {
		width: 100%;
		@include standartFlex(column, center, flex-start);
		gap: 30px;
		height: auto;
		.gallery__items {
			width: 100%;
			column-count: 5;
			gap: 15px;
			height: auto;
			@media (max-width: 1200px) {
				column-count: 4;
			}
			@media (max-width: 800px) {
				column-count: 3;
			}
			@media (max-width: 600px) {
				column-count: 2;
			}
			&_item {
				border: none;
				display: block;
				margin-bottom: 10px;
				overflow: hidden;
				img {
					display: block;
					height: auto;
					transform-origin: 50% 50%;
					transition: transform 0.3s;
					width: 100%;
				}
			}
		}
	}
}
